---
import Main from "../../layouts/main.astro";
import { content } from "../../data/content";
import { locales } from "../../data/locale";

export const getStaticPaths = () => {
  return locales.map((locale) => {
    return { params: { locale }, props: { books: content.books } };
  });
};

const { locale } = Astro.params;
const { books } = Astro.props;
---

<Main>
  <pre>locale: {locale}</pre>
  <div>
    {books.map((book) => <a href={`${book.slug}`}>{book.title[locale]}</a>)}
  </div>
</Main>
