---
import { content } from "../../data/content";

export const getStaticPaths = () => {
  return content.flatMap((item) => {
    const locales = Object.entries(item.translations);
    return locales.map(([locale, value]) => ({
      params: { locale },
      props: { title: value.title, locale },
    }));
  });
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Main Page</title>
  </head>
  <body>
    <pre>title: {title}</pre>
  </body>
</html>
