---
import Main from "../../layouts/main.astro";
import { content } from "../../data/content";
import { locales } from "../../data/locale";
import BookList from "../../components/book-list.astro";

export const getStaticPaths = () => {
  return locales.map((locale) => {
    return { params: { locale }, props: { books: content.books } };
  });
};

const { books } = Astro.props;
---

<Main>
  <BookList books={books} />
</Main>
