---
import type { Book } from "../models/book";
import BookItem from "./book-item.astro";

interface Props {
  books: Book[];
}

const { books } = Astro.props;
---

<div class="container">
  {books.map((book) => <BookItem book={book} />)}
</div>

<style>
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
</style>
