---
import type { LocalizedHint } from "../models/hint";
import HintItem from "./hint-item.astro";

interface Props {
  hints: LocalizedHint[];
}

const { hints } = Astro.props;
---

<div class="container">
  {hints.map((hint, index) => <HintItem hint={hint} index={index} />)}
</div>

<style>
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
</style>
