---
import type { LocalizedHint } from "../models/hint";
import HintItem from "./hint-item.astro";

interface Props {
  hints: LocalizedHint[];
}

const { hints } = Astro.props;
---

<div class="container">
  {hints.map((hint) => <HintItem hint={hint} />)}
</div>

<style>
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hintElements = document.querySelectorAll(".hint");
    for (const card of hintElements) {
      card.addEventListener("click", () => {
        if (card.classList.contains("opened")) {
          card.classList.remove("opened");
        } else {
          card.classList.add("opened");
        }
      });
    }
  });
</script>
