---
import type { LocalizedHint } from "../models/hint";
import { getLocale } from "../utils/locale";

interface Props {
  hint: LocalizedHint;
}

const { hint } = Astro.props;
const locale = getLocale(Astro);
---

<div class="hint container">
  <h3 class="title">{hint[locale].title}</h3>
  <p class="content">{hint[locale].content}</p>
</div>

<style>
  .content {
    filter: blur(6px);
  }

  .container.opened > .content {
    filter: none;
  }
</style>
