---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Page } from "../models/page";
import PageItem from "./page-item.astro";
import { getLocale } from "../utils/locale";

interface Props {
  book: string;
  pages: Page[];
}

const { book, pages } = Astro.props;
const locale = getLocale(Astro);
---

<div class="container">
  {
    pages.map((page) => (
      <PageItem
        page={page}
        href={getRelativeLocaleUrl(locale, `${book}/${page.slug}`)}
      />
    ))
  }
</div>

<style>
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 24px;
  }
</style>
