---
import PageList from "../../../components/page-list.astro";
import { content } from "../../../data/content";
import { locales } from "../../../data/locale";
import Main from "../../../layouts/main.astro";

export const getStaticPaths = () => {
  const paths = [];
  for (const locale of locales) {
    for (const book of content.books) {
      paths.push({
        params: { locale, book: book.slug },
        props: { pages: book.pages },
      });
    }
  }
  return paths;
};

const { locale, book } = Astro.params;
const { pages } = Astro.props;
---

<Main>
  <PageList locale={locale} pages={pages} href={`${book}`} />
</Main>
